RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+?)/?$ $1.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^page/([^/]+)$ pageprofile.php?pname=$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/friendRequests/([^/]+)$ /src/actions/friendRequests.php?action=$1 [QSA,L]
RewriteRule ^api/pageOperations/([^/]+)$ /src/actions/pageOperations.php?action=$1 [QSA,L]
RewriteRule ^api/userOperations/([^/]+)$ /src/actions/userOperations.php?action=$1 [QSA,L]
RewriteRule ^api/postOperations/([^/]+)$ /src/actions/postOperations.php?action=$1 [QSA,L]
RewriteRule ^api/notifications/([^/]+)$ /src/actions/notifications.php?action=$1 [QSA,L]
RewriteRule ^api/userAuth/([^/]+)$ /src/actions/userAuth.php?action=$1 [QSA,L]
RewriteRule ^api/user/inituser /src/actions/inituser.php [L]
RewriteRule ^api/generate-otp /src/actions/generate-otp.php [L]
RewriteRule ^api/search /src/actions/search.php [L]
RewriteRule ^api/getOnlineFriends /src/actions/getOnlineFriends.php [L]
RewriteRule ^api/getPageSuggestions /src/actions/getPageSuggestions.php [L]
RewriteRule ^api/loadPosts /src/actions/loadPosts.php [L]

RewriteRule ^login$ /getin [R=301,L]

php_value session.name "PSID"